.App {
  text-align: center;
}

body {
  color: #282846;
  font-family: 'Montserrat', sans-serif;
  border: 1px solid #f6f6f6;
  box-shadow: 0px 1px 6px -2px #808080;
  padding: 3%;
  margin: 1% 2%;
 
}

nav a {
  color: #282846;
  padding: 2%;
  text-decoration: none;
  font-size: 1.2rem;
  
}
nav a:hover {
  font-weight: 700;
}
.home-image{
  width: 60%;
  margin-top: 2%;
}

.login form, .signup form {
  display: flex;
  flex-direction: column;
  margin-top: 25px;
  align-items: center;
}
.formLinks {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin-top: 2%;
}


.formLink {
  text-decoration: none;
  font-size: 1.4rem;
  color: #282846; 
  margin: 1%;
  padding: 1% 2%;
  border: 1px solid #f6f6f6;
  box-shadow: 0px 1px 6px -2px #808080;
  width: 30%;
}
.formLink:hover {
  font-weight: 600;
}

.form{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 2% 30%;
  padding: 1%;
  background-color: white;
  border: 2px solid #282846;
  box-shadow: 0px 1px 6px -2px #808080;
  border-radius: 10px;
  width: 40%;
}
label {
  margin: 2px;  
}
input, select {
  margin: 2px;
  padding: 5px;
  border-radius: 10px;
}
button {
  color: #282846;
  border: 1px solid #282846;
  font-family: 'Montserrat', sans-serif;
  border-radius: 5px; 
}
button.add, button.submit {
  margin: 1%;
  font-weight: 700;
  padding: 10px;
  background-color: white;
  width: 15%;
}
button.remove {
  color: red;
  background-color: #f6f6f6;
  border: 1px solid red;
  border-radius: 5px;
}

button:hover {
  transform: scale(1.1);
  background-color: #282846;
  color: white;
}
